@font-face{
  font-family: "Raleway", sans-serif;
  src: url('fonts/Raleway-Regular.ttf') format("OpenType");
  font-weight: 400;
}
@font-face{
  font-family: "Raleway", sans-serif;
  src: url('fonts/Raleway-Bold.ttf') format("OpenType");
  font-weight: 900;
}
@media screen and (min-width: 0px) and (max-width: 420px)
{
  body
  {
    max-width: 420px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    margin: 0px;
    /*margin: 0px 35px 0px 100px;*/
    padding: 0px;
    display: block;
  }
  *
    {
        box-sizing: border-box;
    }
    h3{
        margin-left: 5px;
    }
        /*---------------------------------------------------------------------------HEADER */

        .header
        {
            width: 100%;
        }
    #menu
    {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
        .res
        {
            padding: 0px;
        }
        .reserv
        {
            margin: 0px;
            padding: 0px;
        }
        .res img
        {
            width: 47%;
            margin: 20px 0px 0px 18px;
        }
        .nav_item
        {
            width: 100%;
            left: 0%;
            display:flex;
            justify-content: space-between;
            position: absolute;
        }
        .nav_item a
        {
            padding: 2%;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 56px;
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-weight: 900;
            border-top: 3px solid transparent;
            width: 100%;
            margin: 20px 0px 0px 0px;
            border-bottom: 3px solid #F2F2F2;
            display: flex;
            justify-content: center;
        }
        .nav_item :hover
        {
            color: #0065FC;
            border-top: 3px solid #0065FC;
        }
        .nav_item :hover
        {
            color:#0065FC;
            border-top: none;
            border-bottom: 3px solid #0065FC;
        }
        .sign-in
        {
            position: absolute;
            left: 69%;
            top: -32%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .sign-in a
        {
            padding: 2%;
            padding-top: 56px;
            color: #0065FC;
            text-decoration: none;
            font-weight: 900;
            border-top: 3px solid transparent;

        }
        .sign-in a:hover
        {
            color: #0065FC;
            border-top: 3px solid #0065FC;
        }

/*-----------------------------------------------------------MAIN CONTAINER */

        .main-container
        {
            width: 130%;
            max-width: 100%;
            margin-top: 1%;
        }
    #main-title p
    {
        margin-top: 0px;
    }
    #main-title h1
    {
        margin-bottom: 10px;
        margin-top: 0px;
        font-weight: 900;
    }

/*--------------------------------------------------SEARCH*/    

    #hébergements
    {
        width: 50%;
    }
    #search
    {
        margin-left: 18px;
    }
    input
    {
        border-right: 0px;
    }
    .search-button
    {
        display: none;
    }
    .search-icon
    {
        display:inline;
        background-color: #0065FC;
        color: #FFFFFF;
        border: 4px #0065FC solid;
        border-radius: 10px 10px 10px 10px;
        font-weight: bold;
        padding: 5px;
    }

    #search-bar
    {
        display: flex;
        align-items: center;
    }
        .search-bar i
        {
            border: 10px solid #F2F2F2;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            background: #F2F2F2; 

        }
        .search 
        {
            display: none;
        }
        input
        {
            border: 3px solid #F2F2F2;
            height: 36px;
            font-weight: 900;
        }
        .search-button
        {
            cursor: pointer;
            border: 10px solid #0065FC;
            background: #0065FC;
            color: #ffffff;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            height: 35px;
        }
/*----------------------------------------------------------------FILTER SECTION */
        
    
    #filter
    {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        align-content: space-between;
        margin-top: 20px;
        padding: 10px 0px 10px 10px;
        margin-bottom: 1%;
    }
        .filter
        {
            display: flex;
            align-items: flex-start;
        }
        .price:hover, .family:hover, .romantic:hover, .animal:hover
        {
            background: #DEEBFF;
        }
        .price, .family, .romantic, .animal
        {
            display: flex;
            align-items: center;
            border: 2px solid #F2F2F2;
            border-radius: 50px;
            border-left: none;
            margin-top: 10px;
            margin-right: 18px;
            width: 200px;
            height: 44px;
            cursor: pointer;
        }
        .filter-title
        {
            font-weight: 900;
            margin-right: 30px;
        }
        .family i
        {
            width: 40px;
        }
        .price i, .family i, .romantic i, .animal i
        {
            color: #0065FC;
            background: #DEEBFF;
            border: 13px solid #DEEBFF;
            border-radius: 100%;
        }
        .price h3, .family h3, .romantic h3, .animal h3
        {
            padding-right: 20px;
        }
        .fa-info-circle
        {
            color: #FFFFFF;
            background: #0065FC;
            border: 13px solid #FFFFFF;
            border-radius: 100%;
        }
        .fa-stack
        {
            display: inline-block;
            height: 2em;
            line-height: 2em;
            position: relative;
            vertical-align: middle;
            width: 6%;
        }
        .info
        {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 3%;
            margin-left: 0px;
        }
        .info-t
        {
            margin-left: 23px;
            font-size: 1.1em;
        }
        .price h3
        {
            padding-left: 0px;
        }
        .price
        {
            width: 174px;
            margin-left: 5px;
            margin-right: 0px;
        }
        .family
        {
            width: 150px;
            padding-left: 0px;
            margin-left: 5px;
            margin-right: 0px;
        }
        .family h3
        {
            margin-left: 5px;
        }
        .bloc-filter
        {
            width: 82%;
            padding-left: 0%;
            margin-left: 0%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .romantic .animal
        {
            width: 260px;
            display: flex;
            justify-content: flex-start;
        }
        .animal
        {
            width: 260px;
        }
        
/*------------------------------------------------------------ROOMS SECTION */
    #container
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0px;
        order: +1;
    }
    #rooms
    {
            background: #F2F2F2;
            border-radius: 25px;
            padding: 0px;
            width: 100%;
            background-color: #FFFFFF;  
            order: 2;
    }
    #main-rooms
    {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
        .rooms-title
        {
            padding: 20px 0px 0px 20px;
            font-weight: 900;
            font-size: 100%;
        }
        .rooms-a
        {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .rooms
        {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
            margin: 10px 0px;
        }
        
        .rooms figure
        {
            width: 91%;
            height: 93%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-left: 12px;
            margin-right: 0px;
            background: #ffffff;
            border: 5px solid #ffffff;
            border-radius: 25px;
            box-shadow: 4px 4px 6px #aaa;
            transition: /*transform*/ 0.5s;
        }
        .rooms img
        {
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;
            object-fit: cover;
            width: 100%;
            height: 112px;
        }
        .rooms:hover
        {
            transform: scale(1.02);
            object-fit: cover;
        }
        .rooms figcaption
        {
            margin-left: 5px;
        }
        .rooms p, .rooms h4
        {
            margin: 5px;
            width: 84%;
        }
        .rooms figcaption p
        {
            font-size: 80%;
        }
        .rooms a
        {
            text-decoration: none;
            color: black;
        }
        .fa-star
        {
            color: #0065FC;
            font-size: small;
            padding-left: 5px;
        }
        .fa-star.grey
        {
            color: #F2F2F2;
            font-size: small;
        }
        .more a
        {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
        .more
        {
            padding: 20px;
            padding-top: 1%;
            padding-right: 0px;
        }
    
        .main-container
        {
            width: 100%;
            margin-top: 60px;
        }
    
/*---------------------------------------------------------------------ASIDE */

    #container aside
    {
        width: 100%;
        height: 590px;
        background: #F2F2F2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 0px;
        padding-right: 0px;
        order:1;
    }
        .aside-title
        {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px;
            font-size: 100%;
        }
        .aside
        {
            transition: .3s ease-in-out;
        }
    #aside a
    {
        text-decoration: none;
        color: black;
    }
        .aside figure
        {
            width: 94%;
            height: 113px;
            margin: 0%;
            margin-left: 3%;
            margin-right: 0px;
            margin-bottom: 20px;
            display: flex;
            background: #ffffff;
            border: 4px solid #ffffff;
            border-radius: 25px;
            box-shadow: 4px 4px 6px #aaa;
        }
        .aside img
        {
            width: 33%;
            height: 103%;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            object-fit: cover;
        }
        .aside figcaption
        {
            padding-left: 5px;
            width: 66%;
        }
        .aside figcaption h4
        {
            margin: 5px 0;
        }
        .aside figcaption p
        {
            margin-top: 5px;
        }
        .aside:hover
        {
            -webkit-transform: scale(30);
            transform: scale(1.05);
        }

  /*--------------------------------------------------------------------ACTIVITIES SECTION */
    #activities 
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        margin-bottom: 40px;
    }
        .activities
        {
            width: auto;
            padding: 0px;
            padding-left: 20px;
        }
    #main-visit
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /*margin-left: 3%;*/
    }
        .vieux-port, .bloc, .parc-national
        {
            width: 100%;
            margin-left: 0%;
        }
        .vieux-port img, .fort-de-pomègues img, .îles-du-frioul img, .parc-national img, .notre-dame-de-la-garde img, .parc-longchamp img
        {
            width: 350px;
            height: 120px;

        }
        .vieux-port figure, .fort-de-pomègues figure, .îles-du-frioul figure, .parc-national figure, .notre-dame-de-la-garde figure, .parc-longchamp figure
        {
            width: 92%;
            margin: 0px 0px 20px 12px;
            /*margin-bottom: 20px;*/
            display: flex;
            flex-direction: column;
        }
        .vieux-port figure, .fort-de-pomègues figure, .îles-du-frioul figure, .parc-national figure, .notre-dame-de-la-garde figure, .parc-longchamp figure
        {
            box-shadow: 8px 8px 12px #aaa;
            border: 1px solid transparent;
            border-radius: 25px;
            box-sizing: border-box;
        }
        .notre-dame-de-la-garde figure, .parc-longchamp figure
        {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .figure
        {
            width: 50px;
            height: 50px;
        }
        .bloc
        {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .fort-de-pomègues
        {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    #main-visit img
    {
        width: auto;
        height: 124px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        object-fit: cover;
        opacity: 1;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    #main-visit img:hover
    {
        opacity: .5;
    }
    #main-visit a 
    {
        margin: 0%;
        text-decoration: none;
        color: black;
        font-size: small;
    }

/*------------------------------------------------------------------FOOTER */
  
    .footer
    {
      padding-bottom: 2%;
    }
    #footer
    {
      width: 100%;
      background: #F2F2F2;
      display: flex;
      flex-direction: column;
    }
        .footer
        {
            display: flex;
            flex-direction: column;
            padding: 30px;
            width: 85%;
        }
        .footer a
        {
            text-decoration: none;
            color: black;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        .footer a:visited
        {
            text-decoration: none;
            color: black;
        }
        .footer h4
        {
            font-weight: bold;
        }

}